
.nav-link {
  @apply .text-grey .px-2 .py-2 .no-underline
}

.nav-link:hover {
  @apply .text-grey-light
}

.nav-link:active {
  @apply .text-indigo-dark
}

.nav-link:focus {
  @apply .text-indigo-dark
}

.footer-link {
  @apply .text-white .pb-4 .no-underline
}

.footer-link:hover {
  @apply .text-indigo-dark
}

.btn {
  @apply .border .border-indigo-dark .rounded .ml-6 .px-4 .py-2 .bg-indigo-dark .text-white .no-underline
}

.btn-outline {
  @apply .btn .bg-transparent .text-indigo
}

.btn-outline:hover {
  @apply .bg-indigo .text-white
}

.section {
  @apply .px-4 .py-10 .w-full
}

.bg-image-one {
  background: linear-gradient(0deg, rgba(47, 54, 95, 0.8), rgba(47, 54, 95, 0.8)), url("https://s3-alpha-sig.figma.com/img/e92f/fe05/af39cce6df918bb532add1bf9992c12a?Expires=1562544000&Signature=Ad7IcYr3fRJi1~mI0bS2kiCnhZxvQDtthVIi9Y1VxoxV5YVs5bI3~uvNuXIa1F3Vrce3ysKHHWZHL49tFxhVhymYZy0vC59Gw0TNnVbSlxQSbKpw1a8doBmSaFmPWMDEb-1-C3liXqqrgncUGbuZViNv5R8lU6ZINk~WEtRsmy~3OmQxwJMlIIIh7zMCai3X-grU8-GYtNSbTgI9rW~nyLXcDyY5rMowVvNVoolyfWHdIWpBr~9x9qHdvvHP54RQMMj6yJ5Nt~EZsQT6RlB-ZYkhF8T23Rf4rGV4911ejlTdnDzd2Javm4PVC8vzxoCoRp6IsGtic~IahgAWezweyg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-hero-image-one {
  background: linear-gradient(0deg, rgba(47, 54, 95, 0.8), rgba(47, 54, 95, 0.8)), url("https://cdn.pixabay.com/photo/2017/08/10/08/47/code-2620118_1280.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.home-image {
  background-image: url("https://images.unsplash.com/photo-1517048676732-d65bc937f952?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
}

p {
  @apply .text-grey-dark .pb-4 .max-w-lg .pt-2 .mb-2
}

h3 {
  @apply .text-indigo-darkest .font-normal .mb-8 .capitalize
}




/* Slider CSS */
.slideshow-container {
  @apply .w-full .relative .m-auto
}

.slider_test {
  @apply .hidden
}

.previous, .next {
  @apply .absolute .w-auto .-mt-16 .p-16 .text-indigo .font-bold
}



.next {
  right: 0;
}

.slider-dot {
  @apply .h-8 .w-8 .bg-indigo-lightest .rounded-lg .mx-4
}

.slider-dot:hover {
  @apply .bg-indigo
}
