<div class="section bg-grey-light">
  <div class="container mx-auto">
    <div class="flex flex-col">
      <h2 class="capitalize font-hairline text-indigo-darker text-center md:text-left">Dedicated to your success first</h2>
    </div>
  </div>
</div>

<div class="section">
  <div class="container mx-auto">
    <h3 class="text-indigo mb-4 capitalize">Greyato is your startup development partner</h3>
    <p>Greyato is a Texas-based software development company focused on providing startups and businesses with fast, effective technology solutions for the web and beyond. As experts in <b>Ember.js</b>, we’re able to build out MVPs quickly, saving you precious time and resources, and improving your go-to-market strategy.
      <br>
      <br>From mobile apps to web-based applications ready for consumers, Greyato is prepared to become a true affordable development partner in your startup business plan. </p>
    <h4 class="font-bold my-2 capitalize">Why Us?</h4>
    <p>We specialize in Ember.js, Rails, and Phoenix. All of which have been proven to be reliable, fast, and scalable. <br><br>Our ability to focus on front and back-end development while integrating with your current and future business goals allows us to build results that matter to your bottom-line. This keeps things affordable without quality suffering or the unexpected appearance of scope-creep.</p>
    <p>Greyato is a business-first company meaning we don’t code just for the sake of it. Everything we do is tied to a specific result before a single line is written, from back-end research to design architecture.</p>
    <p class="mb-4">We also build and launch our own products so we understand the hassle and upkeep of working with startup products. It’s literally in our DNA - aka the code we write 🙂 .</p>
    <a href="tel:+16822484597" class="btn ml-0">Give us a call</a><a href="contact-us" class="btn-outline">Schedule a meeting</a>
  </div>
</div>
