{{nav-menu}}

<div class="">
  {{outlet}}
</div>

 {{footer-menu}}

<script>
  var navToggle = document.getElementById("nav-toggle");

  navToggle.onclick = function clickMenu() {
    document.getElementById("nav-content").classList.toggle("hidden");
  }
</script>
