<div class="section">
  <div class="container mx-auto">
    <h1 class="text-indigo-darkest mb-4 font-thin max-w-md animated fadeIn delay-1s">We're only a call or email away...</h1>
    <div class="flex flex-col md:flex-row pt-12 md:justify-between">

      <div class="w-full flex-col md:w-1/2 md:mr-4 mb-12 md:mb-0">
        <h3>Get a spec sheet or start a project</h3>
        <form class="mb-4" action="index.html" method="post">
          <div class="mb-4">
            <label for=""></label>
            {{input type="text" name="" value=firstName placeholder="What can we call you?" class="w-full rounded px-2 py-4 bg-grey-lightest appearance-none focus:outline-none focus:bg-indigo focus:text-white focus:shadow-lg"}}
          </div>

          <div class="mb-4">
            <label for=""></label>
            {{input type="text" name="" value=emailAddress placeholder="What's a good email?" class="w-full rounded px-2 py-4 bg-grey-lightest appearance-none focus:outline-none focus:bg-indigo focus:text-white focus:shadow-lg"}}
          </div>

          <div class="mb-4">
            <label for=""></label>
            {{textarea rows=6 name="" value=projectDetails placeholder="Tell us about your project needs..." class="w-full rounded px-2 py-4 bg-grey-lightest appearance-none focus:outline-none focus:bg-indigo focus:text-white focus:shadow-lg"}}
          </div>

          <div class="flex flex-col md:flex-row">
            <div class="w-full md:w-1/2 mr-2">
              <label for="" class="text-sm mb-4 text-indigo-light">What's your budget?</label>
              <div class="w-full block rounded px-2 py-4 bg-grey-lightest appearance-none mb-4">
                <select name="estBudget" class="focus:outline-none text-grey-dark">
                  <option value="estBudget-5000">less than $5,000</option>
                  <option value="estBudget-10000">$10,000</option>
                  <option value="estBudget-20000">$20,000</option>
                </select>
              </div>
            </div>

            <div class="w-full md:w-1/2">
              <label for="" class="text-sm pb-4 text-indigo-light">Timeline?</label>
              <div class="w-full block rounded px-2 py-4 bg-grey-lightest appearance-none mb-4">
                <select class="focus:outline-none text-grey-dark" name="estTimeline">
                  <option value="oneMonth"> less than 1 month</option>
                  <option value="threeToSixMonth">3-6 months</option>
                  <option value="SixMonth">6+ months</option>
                </select>
              </div>
            </div>

          </div>

          <button {{action 'formSubmit'}} class="btn ml-0">Submit</button>
        </form>
      </div>

      <div class="w-full md:w-1/2">
        <h3>Remote based. But forever Texas, ya'll.</h3>
      </div>

    </div>

  </div>

</div>
