<div class="section bg-indigo-dark">
  <div class="container mx-auto">
    <div class="flex flex-col md:flex-row">
      <div class="mb-4">
        <h2 class="uppercase pb-4">Deep dive into how we think</h2>
      </div>
      <div class="mb-4">
      {{#link-to "contact-us" class="btn-outline ml-0 border-white text-white"}}Read The Journal{{/link-to}}
      </div>
    </div>
  </div>
</div>
