<div class="section bg-indigo-light py-32 flex flex-col">
  <div class="container mx-auto">
    <div class="flex flex-col ">
      <h1 class="text-white mb-4 font-light max-w-md">Our code helps startups sell better, and automate internal tasks.</h1>
      <div class="flex flex-row justify-start">
        {{#link-to 'about' class="btn bg-black ml-0"}}Let's talk solutions{{/link-to}}
        {{#link-to 'about' class="btn-outline border-white text-white"}}Learn More{{/link-to}}
      </div>
    </div>
  </div>
</div>

<div class="section bg-indigo-dark bg-image-one py-32">
  <div class="container mx-auto">
    <div class="flex flex-col ">
      <div class="mb-4 max-w-sm">
        <h4 class="capitalize text-indigo-lightest mb-6 text-xs">Learn how we think</h4>
        <h2 class="uppercase pb-4 text-white text-sm md:text-lg">Deep dive into how we think</h2>
        <p class="text-white pb-4 mb-2">Everything we do revolves around technology, code, and people.
          The ability to change a life, even in the most minuscle way, is enough to keep us going everyday.</p>
      </div>
      <div class="mb-4 md:mt-12">
      {{#link-to "contact-us" class="btn-outline ml-0 border-white text-white"}}Read The Journal{{/link-to}}
      </div>
    </div>
  </div>
</div>
