<div class="section py-16 md:py-32 flex flex-col bg-grey-lightest">
  <div class="container mx-auto md:flex md:flex-row">
    <div class=" mb-8 md:w-1/2 md:pr-12 flex flex-col align-center">
      <h1 class="text-indigo-darkest mb-12 font-thin max-w-md animated fadeIn delay-1s">Our solutions help businesses like yours sell more efficiently, solve problems, and automate internal tasks.</h1>
      <div class="flex flex-row justify-start animated fadeIn delay-2s">
        {{#link-to 'contact-us' class="btn bg-black ml-0 px-6 border border-black"}}Let's talk solutions{{/link-to}}
        {{#link-to 'about' class="btn-outline border-indigo text-indigo"}}Learn More{{/link-to}}
      </div>
    </div>

    <div class=" md:w-1/2 bg-center bg-no-repeat bg-cover home-image h-64 rounded">

    </div>
  </div>
</div>

<div class="section">
  <div class="container mx-auto">
    <div class="flex flex-col md:flex-row md:justify-between mb-20">

      <div class="w-auto h-64 md:w-1/2 bg-indigo-dark rounded block mb-8 mt-8 md:mr-4"></div>

      <div class="flex flex-col mb-16 mr-8 md:mb-0">
        <h3 class="text-sm text-grey-light mb-4 capitalize animated slideInRight">Problem Solvers.</h3>
        <h2 class="text-indigo-dark font-light max-w-sm mb-4 h-10 capitalize">Solution-based results that scale.</h2>
        <p class="max-w-sm h-42 mb-8">We’re a software development company.
          <br>
          <br> Whether your a small business looking for new tech, or need unique web development, we can help while staying on time and budget.
            </p>
        {{#link-to 'contact-us' class="underline text-i mt-2 text-indigo capitalize"}}Learn about us{{/link-to}}

      </div>

    </div>


    <div class="flex flex-col md:flex-row-reverse md:justify-between">

      <div class="w-auto h-48 md:w-1/2 bg-indigo-dark rounded block mb-8 mt-8"></div>

      <div class="flex flex-col mb-6 justify-start">
        <h3 class="text-sm text-grey-light mb-4 capitalize">How we do it</h3>
        <h2 class="text-indigo-dark font-light max-w-sm mb-4 h-10 capitalize">Full stack for your full stack Problems.</h2>
        <p class="max-w-sm mb-2 h-42">We begin with research and planning, ensuring our techniques and solutions are approved and well thought-out before moving on.</p>
        <p class="max-w-sm mb-2 h-42">Next comes wireframes and design, focusing on clean aesthetics that excites stakeholders. Following the principles of design, we’re able to generate assets that have a wow factor.</p>
        <p class="max-w-sm mb-2 h-42">Last, development and development testing on multiple devices lets us know what changes are to be made, how stakeholders will view the product, and what’s breaking and working. </p>
        {{#link-to 'contact-us' class="underline text-indigo mt-2 capitalize"}}View our services{{/link-to}}
      </div>
    </div>
  </div>
</div>

{{testimonial-slider}}

<div class="section bg-indigo">
  <div class="container mx-auto">
    <h3 class="text-sm text-grey-light mb-4 text-center">Tech Focused.</h3>
    <h2 class="text-white capitalize font-light mb-8 text-center">Utilize the latest technology. <br>Ensure reliability and peformance</h2>
    <div class="flex flex-col md:flex-row justify-around md:content-center items-center">
      <img src="images/Ember-Logo-1c-White.png" alt="" class="w-24 mb-8">
      <img src="images/Git-Logo-White.png" alt="" class="w-24 mb-8">
      <img src="images/phoenix.png" alt="" style="width: 16.5rem;" class="mb-8">
      <img src="images/rails-logo.png" alt="" class="w-24 mb-8">
    </div>

  </div>

</div>

<div class="section bg-indigo-dark bg-image-one py-32">
  <div class="container mx-auto">
    <div class="flex flex-col">
      <div class="mb-4 max-w-sm">
        <h4 class="capitalize text-indigo-lightest mb-6 text-xs">Learn how we think</h4>
        <h2 class="uppercase pb-4 text-white text-sm md:text-lg">Deep dive into how we think</h2>
        <p class="text-white pb-4 mb-2">Everything we do revolves around technology, code, and people.
          The ability to change a life, even in the most minuscle way, is enough to keep us going everyday.</p>
      </div>
      <div class="mb-4 md:mt-12">
      {{#link-to "contact-us" class="btn-outline ml-0 border-white text-white"}}Read The Journal{{/link-to}}
      </div>
    </div>
  </div>
</div>
