<div class="section">
  <div class="container mx-auto">
    <h1 class="font-thin text-indigo-darkest mb-4">Battle-tested code. Ready for any situation.</h1>
    <a href="#services" class="no-underline text-indigo-lighter my-4 hover:text-indigo-lightest px-4 py-2 bg-indigo text-sm rounded">Skip to services</a>
  </div>
</div>

<div class="section">
  <div class="container mx-auto">
    <div class="md:w-2/3">
      <h3>The perfect scenario</h3>
      <p class="pb-12">Check this out. You just ran a report detailing the amount of time it takes for your team to execute for the month. You know there’s a better way to do things but it doesn’t exist (yet). What do you do? You and all stakeholders involved decide it’s best to build a solution. The perfect scenario involves a tight budget and on-time deliverables along with clean code and measurable results. <br><br>*Cue trumpets.</p>
      <h3>What we do</h3>
      <p>Some things do not have to be as complicated as we make them. Althought with technology, this is usually unavoidable. At Greyato, we take pride in solving complex problems with code. Whether it’s over-glorified mockups, front-end, or back-end development, we use technology to communicate clear results that lead to effective solutions. We utilize tools that we know work and steer clear of hype-up frameworks.</p>
    </div>

    <div class="md:w-1/3">

    </div>
  </div>
</div>

<div class="section">
  <div class="container mx-auto">
    <h3 class="text-sm text-grey-light mb-4 capitalize animated slideInRight">Our specialties</h3>
    <div class="rounded bg-indigo-dark p-8 mb-8">
      <img src="/images/Ember-Logo-1c-White.png" alt="Ember.js Logo" class="mb-4 w-24">
      <p class="text-indigo-lighter text-lg">As a front-end framework, Ember is our tool of choice. Ember is a JavaScript front-end framework designed to help you build websites with rich and complex user interactions. Using Ember, we’re able to build fast applications with backwards compatability and future updates. This includes progressive web apps (PWAs) as well.</p>
      <a href="https://www.emberjs.com" class="text-white">Learn about Ember.js</a>
    </div>
    <div class="rounded bg-indigo-dark p-8 mb-8">
      <img src="/images/phoenix.png" alt="Phoenix Logo" class="mb-4 w-48">
      <p class="text-indigo-lighter text-lg">Phoenix is best for building concurrent web applications. With Phoenix, we’re able to create rich web applications, mobile apps, and embedded devices using their real-time streaming technology called Channels. With Channels, we can create apps that communicate real-time with millions of clients concurrently.</p>
      <a href="https://www.phoenixframework.org" class="text-white">Learn about Phoenix</a>
    </div>
  </div>
</div>

<div class="section" id="services">
  <div class="container mx-auto" >
    <h3 class="text-center mb-8 font-bold" >Problem-solving services</h3>
    <div class="">
      <ul class="flex flex-col md:flex-row md:flex-wrap justify-center item-center md:mr-4" style="list-style:none;">
        <li class="service-type ">Front-end development</li>
        <li class="service-type ">Back-end development</li>
        <li class="service-type ">UX/UI Design</li>
        <li class="service-type ">Development consulting</li>
        <li class="service-type ">Web applications</li>
        <li class="service-type ">Mobile apps</li>
        <li class="service-type ">Corporate web design</li>
        <li class="service-type">Progressive Web Apps</li>
      </ul>
    </div>
  </div>
</div>

<div class="section">
  <div class="container mx-auto">
    <h3 class="text-center mb-8 font-bold">Tools we use to get the job done</h3>
    <div class="">
      <ul class="flex flex-col md:flex-row md:flex-wrap justify-center item-center md:mr-4" style="list-style:none;">
        <li class="service-type ">Ruby On Rails</li>
        <li class="service-type ">Ember.js</li>
        <li class="service-type ">Html5</li>
        <li class="service-type ">Tailwind CSS</li>
        <li class="service-type ">Firebase</li>
        <li class="service-type ">Elixir</li>
        <li class="service-type ">Phoenix</li>
        <li class="service-type ">AmazonWebServices</li>
        <li class="service-type ">Heroku</li>
        <li class="service-type ">Netlify</li>
      </ul>
    </div>
  </div>
</div>
